$dark: #1d1f20;
$lighter-bg: #282a2c;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

::selection {
  background-color: #2f2f2f;
  color: #fff;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #848a8f $dark;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: $dark;
}
body::-webkit-scrollbar-thumb {
  background-color: #848a8f;
  border: 3px solid $dark;
  border-radius: 10px;
}

body {
  font-family: Rubik, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #888;
  overflow-x: hidden;
  font-size: 15px;
  background: $dark;
}

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}

* {
  margin: 0;
  padding: 0;
}

.navbar-toggler:focus,
a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  text-decoration: none;
  outline: none;
  outline: none !important;
  border-color: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

span,
a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  background-color: #282a2c;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999;
  width: 100%;
  height: 100%;
  background-color: $dark;
  overflow: hidden;
  transition: 0.8s opacity ease-in;
}

.preloader.hidden {
  opacity: 0;
}

.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.preloader-icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 0;
}

.preloader-icon span {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: #fff;
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite;
}

.preloader-icon span:last-child {
  animation-delay: -0.05s;
  -webkit-animation-delay: -0.35s;
}

@keyframes preloader-fx {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader-fx {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

.header {
  width: 100%;
  background: 0 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.header p {
  color: #e9e9e9;
  transition: all 0.2s ease-in;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header {
    padding: 18px 0 !important;
  }

  .header .mobile-menu-btn .toggler-icon {
    background-color: #fff;
  }

  .header .button {
    margin: 0 !important;
  }

  .header .navbar-collapse {
    position: absolute;
    top: 67px !important;
    left: 0;
    width: 100%;
    background-color: $lighter-bg;
    z-index: 9;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    max-height: 350px;
    overflow-y: scroll;
    border-radius: 6px;
  }

  .header .navbar .navbar-nav .nav-item a:hover {
    color: #c8c8c8 !important;
  }

  .header .navbar-nav .nav-item {
    margin: 0;
  }

  .header .navbar-nav .nav-item:hover a {
    color: #c8c8c8;
  }

  .header .navbar-nav .nav-item a {
    padding: 12px 16px !important;
  }

  .header .navbar-nav .nav-item a {
    color: #828282;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }

  .header .navbar-nav .nav-item a {
    font-size: 16px;
  }

  .header .navbar-nav .nav-item a::after {
    opacity: 1;
    visibility: visible;
  }

  .header .navbar-nav .nav-item a:hover {
    color: #c8c8c8;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 18px 0 !important;
  }
  .header .mobile-menu-btn .toggler-icon {
    background-color: #fff;
  }

  .header .navbar-collapse {
    position: absolute;
    top: 58px !important;
    left: 0;
    width: 100%;
    background-color: $lighter-bg;
    z-index: 9;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    max-height: 350px;
    overflow-y: scroll;
    border-radius: 6px;
  }

  .header .navbar-nav .nav-item a:hover {
    color: #c8c8c8;
  }
  .header .navbar-nav .nav-item:hover a {
    color: #c8c8c8;
  }

  .header .navbar-nav .nav-item a {
    padding: 12px 16px !important;
  }

  .header .navbar-nav .nav-item a {
    color: #828282;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
}
.navbar {
  padding: 0;
  position: relative;
  transition: all 0.3s ease-out 0s;
}

.navbar-brand {
  padding-left: 0;
  border-radius: 0;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0.0625rem;
}

.mobile-menu-btn {
  padding: 0;
}

.mobile-menu-btn:focus {
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mobile-menu-btn .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 5px 0;
  position: relative;
  transition: all 0.3s ease-out 0s;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}

.mobile-menu-btn.active .toggler-icon:nth-of-type(3) {
  transform: rotate(-45deg);
  transform-origin: 20% 150%;
}

.navbar-nav .nav-item {
  z-index: 1;
  position: relative;
  margin-right: 40px;
}

.navbar-nav .nav-item:last-child {
  margin-right: 0 !important;
}

.navbar-nav .nav-item a {
  font-size: 15px;
  color: rgb(140, 140, 140);
  transition: all 0.3s ease-out 0s;
  position: relative;
  padding: 35px 0;
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  text-transform: capitalize;
}

.navbar-nav .nav-item a::after {
  opacity: 0;
  visibility: hidden;
}

.navbar-nav .nav-item:hover a:before {
  width: 100%;
}

.navbar-nav .nav-item a.active {
  color: #fff;
}

.navbar-nav .nav-item:hover a {
  color: #c8c8c8;
}

.navbar-expand-lg .navbar-nav {
  margin: 0;
  margin-left: auto !important;
}

.main {
  background: $dark;
  height: 67vh;
}
.main .section-title h3 {
  font-size: 15px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  margin-top: 250px;
  text-transform: uppercase;
}

.main .section-title h2 {
  font-size: 100px;
  color: #fff;
}

@media (max-width: 767px) {
  .main {
    margin-bottom: 78px;
  }
  .main .section-title h2 {
    font-size: 80px;
  }

  .main .section-title h3 {
    margin-top: 150px;
  }

  .main .introduction p {
    font-size: 1rem;
  }
}

.main .introduction p {
  font-size: 1.375rem;
  line-height: 175%;
  font-weight: 300;
}

.main .code-card {
  background: $lighter-bg;
  margin-left: 700px;
  padding: 15px 15px 15px 15px;
  border-radius: 10px;
  font-size: 150%;
}

.main .code-card b {
  font-weight: bolder;
}

.scroll-indicator {
  width: 12px;
  margin: 0 auto;
  position: relative;
  opacity: 1;
  transition: 0.5s opacity ease-in;
  &::before,
  &::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &::before {
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px solid #fff;
    animation: dot 3s infinite ease-in-out;
  }
  &::after {
    width: 7px;
    height: 7px;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(45deg);
    animation: arrow 3s infinite ease-in-out;
    animation-delay: 0.75s;
    opacity: 0.25;
  }
  & > div {
    display: block;
    &::before,
    &::after {
      content: "";
      display: block;
      margin: 5px auto;
      border-radius: 10px;
      border: 1px solid #fff;
      animation: dot 3s infinite ease-in-out;
    }
    &::before {
      width: 8px;
      height: 8px;
      animation-delay: 0.25s;
    }
    &::after {
      width: 6px;
      height: 6px;
      animation-delay: 0.5s;
    }
  }
}

@keyframes dot {
  0% {
    transform: scale(0.75);
    opacity: 0.25;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.75);
    opacity: 0.25;
  }
}

@keyframes arrow {
  0% {
    transform: scale(0.75) rotate(45deg);
    opacity: 0.25;
  }
  25% {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.75) rotate(45deg);
    opacity: 0.25;
  }
}

.about {
  height: 100vh;
}

.about .about-title {
  text-align: center;
  padding: 0 300px;
  position: relative;
  z-index: 5;
}

.about .about-title h3 {
  font-size: 17px;
  font-weight: 600;
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.about .about-title h2 {
  font-size: 40px;
  margin-bottom: 25px;
  line-height: 42px;
  text-transform: capitalize;
  position: relative;
  color: #fff;
}

.about .body {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 50%;
}

.about .body p {
  font-size: 1.375rem;
  line-height: 175%;
  font-weight: 300;
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about .about-title {
    padding: 0 0;
  }
  .about .body {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .about .about-title {
    padding: 0 0;
  }
  .about .body {
    width: 100%;
  }
}
